---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import variables (SCSS vars, CSS custom properties, mixins)
@import "variables";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "theme-toggle",
        "components",
        "search",
        "responsive"
;
