---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% capture read_time %}
          {{ post.content | number_of_words | divided_by: 180 }}
        {% endcapture %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-meta">
          &nbsp;&nbsp;
          <i class="fab fa-clock"></i>
          {% if read_time != '0' %}
            {{ read_time }}
          {% else %}
            1
          {% endif %} min. to read
        </span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.summary != null %}
        <article class="post-content">
            {{post.summary}}
            <a href="{{ post.url | prepend: site.baseurl }}">[continue...]</a>
        </article>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
