<div class="search-modal" id="search-modal" style="display:none;" role="dialog" aria-label="Search">
  <div class="search-modal__backdrop" onclick="closeSearch()"></div>
  <div class="search-modal__content">
    <div class="search-modal__header">
      <i class="fas fa-search search-modal__icon"></i>
      <input type="text" class="search-modal__input" id="search-input" placeholder="Search posts..." autocomplete="off" autofocus>
      <kbd class="search-modal__kbd">ESC</kbd>
    </div>
    <div class="search-modal__results" id="search-results"></div>
  </div>
</div>
